.Panel {
  padding: 24px;
  border: #ccc solid 1px;
  background-color: #ffffff;
}

:root {
  --grey-three: rgba(4,38,73,0.3);
  --grey-six: rgba(4,38,73,0.6);
  --statistic-dark: #042649;
}

.Chart_grid {
  display: flex;
}

.Chart_grid .Panel {
  flex: 1;
}

.table-width {
  width: 100%;
  border-collapse: collapse;
}

.table-width, th, td {
  border: 1px solid #ccc;
}

.table-width thead tr {
  text-align: left;
}

.table-width tr td {
  font-size: 12px;
  color: var(--statistic-dark);
}

.container-statistics {
  max-width: 1164px;
  margin: auto;
  margin-top: 7%;
  margin-bottom: 7%;
}

.container-statistics * {
  font-family: Helvetica Neue;
}

.panel-table {
  margin-top: 40px;
  margin-bottom: 50px;
  background-color: #ffffff;
}

.select-table {
  text-align: left;
}

.statistics-title {
  color: var(--statistic-dark);
  font-weight: bold;
  font-size: 24px;
  display: inline-block;
  margin-top: 0px;
}

.statistics-subtitle {
  font-size: 20px;
  color: var(--statistic-dark);
  margin-top: 15px;
  font-weight: 500;
  margin-bottom: 0px;
}

.statistics-help {
  display: inline-block;
  font-size: 16px;
  margin-top: 0px;
  margin-right: 10px;
}

.statistics-description {
  color: var(--grey-six);
  font-size: 16px;
  line-height: 24px;
  margin-top: 5px;
  margin-bottom: 40px;
}

.help-structure {
  float: right;
  color: var(--grey-three);
}

.statistics-help-icon {
  font-size: 30px!important;
  vertical-align: middle;
}

.statistics-top {
  padding: 0px 25px;
}

.statistics-divider {
  color: var(--grey-six);
}

.inline-display {
  display: inline-block;
}

.c1 {
  width: 20%;
}

.c2 {
  width: 40%;
}

.c3 {
  width: 40%;
}

.float-l {
  float: left;
}

.statistics-category {
  color: var(--statistic-dark);
  font-weight: bold;
  font-size: 14px;
  padding-left: 20px;
}

.statistics-top-table {
  color: var(--grey-six);
  font-size: 14px;
  font-weight: bold;
}

.statistics-head-table {
  color: var(--grey-three);
  font-size: 10px;
  font-weight: bold;
  width: 20%;
}

.table-width th, .table-width td {
  height: 48px;
  padding-left: 20px;
}

.select-table {
  padding: 20px 0;
}

.help-text{
    height: 64px;
    width: 316px;
    color: #FFFFFF;
    font-family: "Helvetica Neue";
    font-size: 12px;
    line-height: 16px;
}
.Select > .select-item > .Select-control {
  border-radius: 20px 20px 20px 20px !important;
  background-color: #0F82F5 !important;
  
}

.help-title{
  height: 16px;	
  width: 318px;
  color: #FFFFFF;
  font-family: "Helvetica Neue";
  font-size: 14px;
  font-weight: bold;
	line-height: 16px;
}

.__react_component_tooltip{
  top: 12px !important;
}

.__react_component_tooltip.place-left:after{
  top: 37% !important;
}
.select-content {
  display: flex;
}

.Select {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 600px;
}

.select-item {
  display: flex;
  justify-content: center;
  margin-right: 10px;
}

.select-country {
  width: 200px;
}

.select-range {
  width: 200px;
}

.select-period {
  width: 150px;
}

.filter-container { 
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.filter-year { 
  width: 150px;
}

.Select-placeholder {
  color: #cfcfcf !important;
}

.country > .select-item > .Select-control > .Select-multi-value-wrapper > .Select-placeholder {
  color: white !important;
}

.select-item  > .Select-control > .Select-multi-value-wrapper > .Select-value > .Select-value-label {
  color: #FFFFFF !important;
}

.select-item > .Select-control > .Select-clear-zone { 
  color: #0F82F5 !important;
  padding-left: 10px;
  background: rgba(255,255,255,0.7);
  border-radius: 20px 20px 20px 20px !important;
}

.Select-clear {
  padding-right: 4px;
}

.second-chart-text {
  color: var(--grey-six);
  margin-top: 0px;
}

.chart-title {
  font-weight: bold;
  margin-bottom: 0px;
}